<!DOCTYPE html>
<html>
<head>
    <title>Votes</title>

    <style>
    	button {
    		padding: 5px 10px;
    		margin: 1px 5px;
    		width: 80px;
    	}
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script>

        document.addEventListener("DOMContentLoaded", () => {

        	// Connect to webSocket
        	var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port );


        	// When connected, configure buttons
        	socket.on('connect', () => {
        		 
        		// Each button emit a " submitvote "
        		document.querySelectorAll('button').forEach(button => {
        			button.onclick = () => {
        				
        				const selection = button.dataset.vote;
        				socket.emit('submit vote', {'selection': selection});

        			};
        		});

        	});


        	socket.on('anaunce vote', data => {
        		
        		const li = document.createElement("li");
        		li.innerHTML = `Vote Recorded: ${data.selection}`;
        		document.querySelector("#votes").append(li);

        	});

        });
    </script>
</head>
<body>
    <ol id="votes">
    	
    </ol>
    <hr>
    <button data-vote="yes">Yes</button>
    <button data-vote="no">No</button>
    <button data-vote="maybe">Maybe</button> 
</body>
</html>