<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <title>Currency Converter</title>
    <script>

         document.addEventListener('DOMContentLoaded', () => {
            
            document.querySelector("#currency-form").onsubmit = () => {

                // Initialize new request
                const request = new XMLHttpRequest();

                const currency = document.querySelector("#currency").value;

                // Call the request
                request.open('POST', '/convert');


                // Callback function when request completed
                request.onload = () => {

                    // Extract JSON data from request
                    const data = JSON.parse(request.responseText);

                    // Update result div
                    if (data.success) {
                        const contents = `1 USD is equal to ${data.rate} ${currency}`;
                        document.querySelector("#result").innerHTML = contents;
                    } else {
                        document.querySelector("#result").innerHTML = "There was an error";
                    }

                }

                // Add data to send with request
                const data = new FormData();
                data.append('currency', currency);

                // send request
                request.send(data);
                return false;
            }
         });
    </script>
</head>
<body>
    <form id="currency-form">
        <input id="currency" type="text" name="currency" placeholder="Currency">
        <input type="submit" name="" value="Get Exchange Rate">
    </form>
    <div id="result"></div>
</body>
</html>