<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <title>Currency Converter</title>
    <script>

         document.addEventListener('DOMContentLoaded', () => {
            
            document.querySelector("#currency-form").onsubmit = () => {

                const request = new XMLHttpRequest();
                const currency = document.querySelector("#currency").value;
                request.open('POST', '/convert');

                request.onload = () => {
                    const data = JSON.parse(request.responseText);
                    if (data.success) {
                        const contents = `1 USD is equal to ${data.rate} ${currency}`;
                        document.querySelector("#result").innerHTML = contents;
                    } else {
                        document.querySelector("#result").innerHTML = "There was an error";
                    }
                }

                const data = new FormData();
                data.append('currency', currency);

                request.send(data);
                return false;
            }
         });
    </script>
</head>
<body>
    <form id="currency-form">
        <input id="currency" type="text" name="currency" placeholder="Currency">
        <input type="submit" name="" value="Get Exchange Rate">
    </form>
    <div id="result"></div>
</body>
</html>